@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
     Art Gallery, 162B, Mahatma Gandhi Road, Kala Ghoda, Fort,<br />
    Mumbai, Maharashtra 400021 <br />
   
    <abbr title="Phone">P:</abbr>
    +91 9029628891
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ARTMarketing@example.com</a>
</address>